body {
    background-color: #ff6666;
    color: lavender;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;

 
}


video {
    display: block;
    width: 100%;    /* Scale video to fit within the container */
    height: auto;   /* Maintain aspect ratio */
}


    .video-container {
        text-align: center;
        display: block;
    max-width: 50%;
    height: auto;
    margin: 0 auto;
    }

    header {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        width: 100%;
        margin-top: 50px;
        text-align: center;
        background-color: red;
        padding: 20px;
    }

    header a {
        padding: 3%;
    }

   h1 {
    font-size: 50pt;
    text-align: center;
    text-decoration: underline;
   
   }

   h2 {
    font-size: 20pt;
    padding: 25px;
   }


   .friendslist {
    background-color: #ff6666;
    color: purple;
   }

   .divaquiz {
   
    color: purple;
   }

   h3 {
    padding: 15px;
    text-align: justify;
    text-decoration: wavy;
    input {
        width: 50%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }
 }

   h4 {
    font-size: 12pt;
    text-decoration: underline;
    color: white;
    text-align: center;
    background-color: black;

    }

    form {
        width: 50%;;
        margin: auto; 
        text-align: center;
    }
  
    
    #beyonce {
        width: 20%; 
        padding: 3%; 
        height: 100%;
        position: auto;

        
    }

#profile {
        margin: auto; 
        text-align: center;
    }

.profile {
    background-image: url('../img/BeyonceQueen.jpg');
    background-repeat: repeat;
    background-size: 25%;

}
  
   